* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #42526E;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1280px;
}
img{
	width: 100%;
	display: block;
}
.grey p{
	color: #85888b;
}
.grey div img{
	filter:invert(1) sepia(1) saturate(209) hue-rotate( 180deg );
}
ul li#green{
	background: green;
}
ul li#purple{
	background: purple;
}
ul li#cyan{
	background: cyan;
}
ul li#blue{
	background: blue;
}
ul li#orange{
	background: orange;
}
ul li#red{
	background: red;
}

div.green{
	background: green;
}
div.purple{
	background: purple;
}
div.cyan{
	background: cyan;
}
div.blue{
	background: blue;
}
div.orange{
	background: orange;
}
div.red{
	background: red;
}

section#home.green .button{
	background: #4eac56;
}
section#home.green b{
	color: #4eac56;
}
section#home.green ul li a:hover{
	color: #4eac56 ;
}
section#pricing.green .button{
	background: #4eac56;
}
section#pricing.green .border{
	color: #4eac56;
    border:2px solid #4eac56;
}
footer#footer.green .bg{
	background: linear-gradient(to right,#4eac56 ,#388256);
}
footer#footer.green p a{
	color: #4eac56;
}

section#home.purple .button{
	background: #7742dc;
}
section#home.purple b{
	color: #7742dc;
}
section#home.purple ul li a:hover{
	color: #7742dc ;
}
section#pricing.purple .button{
	background: #7742dc;
}
section#pricing.purple .border{
	color: #7742dc;
    border:2px solid #7742dc;
}
footer#footer.purple .bg{
	background: linear-gradient(to right,#7032d4 ,#4c1fa9);
}
footer#footer.purple p a{
	color: #7742dc;
}

section#home.cyan .button{
	background: #52caf9;
}
section#home.cyan b{
	color: #52caf9;
}
section#home.cyan ul li a:hover{
	color: #52caf9 ;
}
section#pricing.cyan .button{
	background: #52caf9;
}
section#pricing.cyan .border{
	color: #52caf9;
    border:2px solid #52caf9;
}
footer#footer.cyan .bg{
	background: linear-gradient(to right,#18b2e7 ,#0f7dbc);
}
footer#footer.cyan p a{
	color: #52caf9;
}

section#home.blue .button{
	background: #0b45f5;
}
section#home.blue b{
	color: #0b45f5;
}
section#home.blue ul li a:hover{
	color: #0b45f5 ;
}
section#pricing.blue .button{
	background: #0b45f5;
}
section#pricing.blue .border{
	color: #0b45f5;
    border:2px solid #0b45f5;
}
footer#footer.blue .bg{
	background: linear-gradient(to right,#003fef ,#002bc1);
}
footer#footer.blue p a{
	color: #0b45f5;
}

section#home.orange .button{
	background: #f5a941;
}
section#home.orange b{
	color: #f5a941;
}
section#home.orange ul li a:hover{
	color: #f5a941 ;
}
section#pricing.orange .button{
	background: #f5a941;
}
section#pricing.orange .border{
	color: #f5a941;
    border:2px solid #f5a941;
}
footer#footer.orange .bg{
	background: linear-gradient(to right,#e39527 ,#bf7019);
}
footer#footer.orange p a{
	color: #f5a941;
}

section#home.red .button{
	background: #ed3833;
}
section#home.red b{
	color: #ed3833;
}
section#home.red ul li a:hover{
	color: #ed3833 ;
}
section#pricing.red .button{
	background: #ed3833;
}
section#pricing.red .border{
	color: #ed3833;
    border:2px solid #ed3833;
}
footer#footer.red .bg{
	background: linear-gradient(to right,#f92e30 ,#c31c33);
}
footer#footer.red p a{
	color: #f92e30;
}


nav.nav_active_left{
	position: fixed; 
	left: 0; 
	right: 0; 
	margin-left: auto;
	top: 0;
	height: 100%; 
	margin-right: auto;
	transform: rotate(360deg);
}
nav.nav_inactive_left{
	transform: rotate(-360deg);
    position: fixed;
    transition: all 0.4s ease-in;
    left: -300px;
}
div.closediv_active{
	transform: rotateX(0);
	z-index: 26;
}
div.closediv_inactive{
	transform: rotateX(90deg);
}

div#settings_div.active{
	right: 0;
}
div#settings_div.left{
	left: 0;
}
div#settings_div.right{
	right: 0;
}